{% load static %}
<!DOCTYPE html>
<html class="scroll-smooth">
    <head>
        <title>CV</title>
        <link rel="stylesheet" href="{% static 'cv/home_page.css' %}">
        <link rel="icon" type="image/svg" href="{% static 'cv/logo_head.svg' %}">
    </head>
    <body  class="bg-gray-900">
        <div>
            <header class="fixed inset-x-0 top-0 z-50">
                <nav aria-label="Global" class="bg-gray-900 flex items-center justify-center p-6 lg:px-8">
                    <div class="flex lg:hidden">
                        <button type="button" command="show-modal" commandfor="mobile-menu" class="-m2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-200">
                            <span class="sr-only">Options</span>
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                                <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div class="hidden lg:flex lg:gap-x-12">
                        <a href="#about" class="text-sm/6 font-semibold text-white hover:text-gray-400">About me</a>
                        <a href="#projects" class="text-sm/6 font-semibold text-white hover:text-gray-400">Projects</a>
                        <a href="#education" class="text-sm/6 font-semibold text-white hover:text-gray-400">Education</a>
                        <a href="#" class="text-sm/6 font-semibold text-white hover:text-gray-400">Experience</a>
                        <a href="#" class="text-sm/6 font-semibold text-white hover:text-gray-400">Certificates</a>
                    </div>
                </nav>
            </header>
            <div class="min-h-screen flex flex-col justify-between">
                <div class="flex justify-start pt-70 pl-40">
                    <h1 class="text-9xl font-sans text-white">Hi, I'm Anna</h1>
                </div>
                <div class="flex justify-center pb-5">
                    <a href="#about" class="text-4xl text-white hover:text-gray-400">▼</a>
                </div>
            </div>
            <section id="about" class="flex flex-col justify-start pl-30 pt-10 pb-50">
                <h1 class="text-7xl font-sans text-white m-10">A little about me...</h1>
                <div class="flex flex-row items-center gap-40">
                    <div class="max-w-lg rounded-2xl bg-gray-800 flex items-center justify-center p-7 ml-26">
                        <p class="text-white text-center text-2xl">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <img src="{% static 'cv/stick_woman.svg' %}" alt="Stick woman" class="w-110 h-110">
                </div>
            </section>
            <section id="projects" class="flex flex-col justify-start pl-30 pr-30 pb-50 pt-10">
                <h1 class="text-7xl font-sans text-white m-10">My projects</h1>
                <div class="grid grid-cols-3 gap-6 pt-10">
                    <div class="flex flex-col items-center rounded-2xl bg-gray-800 p-6 h-96 hover:bg-gray-700">
                        <h2 class="text-white font-bold">Project I</h2>
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                    <div class="flex flex-col items-center rounded-2xl bg-gray-800 p-6 h-96 hover:bg-gray-700">
                        <h2 class="text-white font-bold">Project II</h2>
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                    <div class="flex flex-col items-center rounded-2xl bg-gray-800 p-6 h-96 hover:bg-gray-700">
                        <h2 class="text-white font-bold">Project III</h2>
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                </div>
            </section>
            <section id="education" class="flex flex-col justify-start pl-30 pr-30 pt-10 pb-50">
                <h1 class="text-7xl font-sans text-white m-10">Education</h1>
                <div class="flex flex-row justify-end gap-20">
                    <img src="{% static 'cv/uni_map.svg' %}" alt="University roadmap" class="w-140 h-120">
                    <div class="max-w-lg rounded-2xl bg-gray-800 flex items-center justify-center p-7 ml-26">
                        <p class="text-white text-center text-2xl">
                            Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.                             Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.

                        </p>
                    </div>
                </div>
            </section>
        </div>
        <script>
            setInterval(() => location.reload(), 1000);
        </script>
    </body>
</html>